.gripi {
    width: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 150px);
    border: 1px solid #000000;
}

.gripi div {
    border: 1px solid #000000;
}

.boxebi {
    background-color: turquoise;
}