.animal {
    width: 400px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.animal img {
    width: 100%;
    border-radius: 10px;
}



.animal h2 {
    color: #333;
}

.animal p {
    color: #666;
}

