body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.car-con {
    width: 75%;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.car-con img {
    max-width: 100%;
}

.car-con h1 {
    font-size: 2em;
    margin: 20px 0;
}

.car-con p {
    font-size: 1.2em;
    color: #555;
}

@media (max-width: 768px) {
    .car-con {
        width: 90%;
    }
    .car-con h1 {
        font-size: 24px; 
    }
    .car-con p {
        font-size: 16px; 
    }
}

@media (max-width: 480px) {
    .car-con {
        width: 100%;
        padding: 10px;
    }
    .car-con h1 {
        font-size: 19px;
    }
    .car-con p {
        font-size: 14px; 
    }
}