* {
    margin: 0;
    padding: 0;
}
/* 2) კომენტარების სახით ჩამოწერეთ 
ყველა ნასწავლი პოზიციონირების 
მნიშვნელობა და თითოეულის განმარტება

position: static- ამ პოზიცის გამოყენების დროს მასზე გაწერილი 
top left right bottom არ მოქმედებს და უცვლელი რჩება

position: relative- ამ დროს ჩვენ დივის გადადგილება შეგვიძლია 
top left right მაგრამ სხვა ელემენტებისთვის უცვლელი რჩება

position: absolute- ის გადადგილდება მხოლოდ მშობელ ელემენტში მაგალითად თეფში კვერცხის გადადგილება

position: fixed -ელემენტი ფიქსირებულია ეკრანზე როცა 
ასქროლავ საიტს ის ეკრანზე რჩება და უნდა გავუწეროთ
---
position: fixed
top: 50px;
lef: 50px;
translate: -50px -50px
----
position: sticky; -ამ დროს დივი არ არის მუდმივად ფიქსირებული 
იმ დროს ხდება ფიქსირებული
როდესაც ჩვენ ავსქროლავთ საიტს და მას გავცდებით
*/


/* 3) შექმენით div, რომელსაც მიანიჭებთ ზომებს და 
გასტილავთ თქვენს გემოზე. 
თქვენი დავალებაა გაუწეროთ მას position: relative 
და გამოიყენოთ შესაბამისი თვისებები 
მისი პოზიციონირებისთვის. გადაადგილეთ div 
მაღლიდან 100px-ით და მარცხნიდან 100px-ით */

.box-relative {
    width: 150px;
    height: 150px;
    background-color: green;
    position: relative;
    top: 100px;
    left: 100px;
}

/* 4) შექმენით div, რომელსაც 
მიანიჭებთ ზომებს და გასტილავთ თქვენს გემოზე. 
თქვენი დავალებაა გაუწეროთ მას position: absolute 
და გამოიყენოთ შესაბამისი თვისებები
მისი პოზიციონირებისთვის. გადაადგილეთ 
div მაღლიდან 230px-ით და მარჯვნიდან 140px-ით */

.box-absolute {
    width: 150px;
    height: 150px;
    background-color: rgb(59, 106, 147);
    position: absolute;
    top: 230px;
    right: 140px;
}

/* შექმენით div, რომელსაც 
მიანიჭებთ ზომებს და გასტილავთ 
თქვენს გემოზე. თქვენი დავალებაა 
გაუწეროთ მას position: fixed და 
გამოიყენოთ შესაბამისი თვისებები მისი 
პოზიციონირებისთვის. გადაადგილეთ div 
მაღლიდან 50px-ით და 
მარცხნიდან 50px-ით. */

.position-fixed {
    width: 200px;
    height: 150px;
    background-color: brown;
    position: fixed;
    top: 50px;
    left: 50px;
    translate: -50px -50px
}
body{
    background-color: black;
}
p{
    color: white;
    width: 500px;
}